* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  box-sizing: border-box;
  background-color: rgba(219, 217, 217, 0.61);
  font-size: 16px;
  font-family: Inter;
}

:root {
  /* text color */
  --text_white: #ffffff;
  --text_mute-primary: #424242;
  --text_mute-secondary: #999999;
  --text_mute-third: #464646;
  --text_green-primary: #0b9d9d;
  --text_blue-primary: #003087;
  --text_dark-secondary: #40474f;

  /* bg-color */
  --bg_white: #ffffff;
  --bg_white-secondary: #f1f1f1;
  --bg_white-third: #f7f7f7;
  --bg_green-primary: #0b9d9d;
  --bg_green-third: #69b342;
  --bg_green-forth: #f4faf6;
  --bg_orange-secondary: #c84545;
  --bg_blue-secondary: #15bef0;
  --bg_blue-forth: #d9e6e6;
  --bg_mute-third: #464646;
}
/* header start */

/* scrolling css start */
.reveal {
  position: relative;
  opacity: 0;
}
.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 0.5s ease-in;
}
.active.fade-left {
  animation: fade-left 0.5s ease-in;
}
.active.fade-right {
  animation: fade-right 0.5s ease-in;
}
@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.zoomIn {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}
.zoomIn:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.1);
}
/* scrolling css end */
.topnav {
  background-color: var(--bg_green-primary);
}
.topnav .topnav-bg-color {
  background-color: var(--bg_green-primary);
}
.topnav .topnav-left {
  clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
  background-color: var(--bg_orange-secondary);
}
.topnav .topnav-left h5 {
  color: #fff;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.topnav .topnav-left h6 {
  color: #fff;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.topnav .topnav-right a {
  color: #fff;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.flash-news .flash-news-left {
  background-color: var(--bg_green-primary);
  color: #fff;
  font-family: "Inria Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: #0A9090; 
  width: 250px;
  /* min-height: 51px; */
}
.flash-news marquee{
  font-size: 14px;
  font-weight: normal;
  font-family: Inter;
  color: white;
}
.flash-news .flash-news-right {
  background-color: var(--bg_orange-secondary);
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
.navbar-nav .nav-item .nav-link {
  color: #000;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.search_input {
  border-radius: 10px;
  border: 1px solid #769e9e;
  background: #fdfdfd;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
/* 
.search .search_input {
  padding: 0 10px;
  width: 550px;
  caret-color: red;
  transition: width 0.4s linear;
}

.search:hover > .search_icon {
  background: red;
  color: #fff;
}

.search_icon {
  height: 50px;
  width: 50px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  background-color: black;
}

a:link {
  text-decoration: none;
} */
/* header end */
/* hero-section start */
.hero-section .carousel-inner .carousel-item .carousel-caption h5 {
  color: #c84545;
  text-align: center;
  font-family: "Inria Sans";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.8px;
  background: rgba(250, 245, 245, 0.73);
}
/* hero-section end */
/* welcome-butex start */
.welcome-butex {
  /* background-color: #fbfbfb; */
}
.welcome-butex .butex-content {
  background-image: url("/assets/images/welcome-butex.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fbfbfb;
}
.welcome-butex .butex-content .butex-circle-img {
  left: 10%;
  top: 5%;
  box-shadow: 2px 2px 0px 1px #c84545;
  border-radius: 50%;
  background-color: #c84545;
}
.welcome-butex .butex-content .butex-title {
  color: #0a9090;
  text-align: start;
  text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Almendra;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4px;
  border-bottom: 5px solid #C84545;
}
.welcome-butex .butex-content .left img {
  /* background: #0b9d9d; */
  /* box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25); */
}
.welcome-butex .butex-content .right {
  background: #d9e6e6;
  box-shadow: 5px 5px 7px 2px rgba(0, 0, 0, 0.25);
  color: #000;
  text-align: justify;
  font-family: "Aref Ruqaa";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1.12px;
}
.welcome-butex .butex-content .right p{
  -webkit-line-clamp: 30;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* welcome-butex end */
.butext-notice .butext-notice-first-last-li-width {
  width: 16.5%;
}
.butext-notice .butext-notice-middle-li-width {
  width: 21%;
}
.butext-notice .butext-notice-bg-img {
  /* background-color: rgba(43, 37, 5, 0.9); */
  background-color: #2B2505;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100%;
  background: url("/assets/images/butex-nitice-bg-img.png") #2B2505;
  background-size: cover;
  background-blend-mode: multiply;
}
.butext-notice .butext-notice-bg-img .title {
  color: #f6f6f6;
  text-align: center;
  text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Almendra;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4px;
}
.butext-notice .butext-notice-bg-img .nav-link.active {
  border-bottom: 2px solid red;
}
.butext-notice .butext-notice-bg-img .table .table-header {
  overflow: hidden;
  display: -webkit-box; 
  -webkit-line-clamp: 1; 
  -webkit-box-orient: vertical;
}
.butext-notice .butext-notice-bg-img .notice-board-doc-title{
  background-color: #D9D9D9;
  overflow: hidden;
  display: -webkit-box; 
  -webkit-line-clamp: 1; 
  -webkit-box-orient: vertical;
  line-height: 56px;
}
.butext-notice .butext-notice-bg-img .notice-board-doc-icon{
  width: 10%;
}
.butext-notice .butext-notice-bg-img .nav-item{
  overflow: hidden;
  display: -webkit-box; 
  -webkit-line-clamp: 1; 
  -webkit-box-orient: vertical;
  line-height: 35px;
}
.butext-notice .butext-notice-bg-img .notice-board-date{
  background-color: #0B9D9D;
  line-height: 24px;
}
.butext-notice .butext-notice-bg-img .notice-board-tab-width-first{
  width: 20%; 
  background-color: #0B9D9D;
}
.butext-notice .butext-notice-bg-img .notice-board-tab-width{
  width: 19%; background-color: #D9D9D9;
}
.butext-notice .butext-notice-bg-img .notice-board-tab-width-last{
  width: 20%; 
  background-color: #D9D9D9;
  margin-left: 4px;
}
/* mission-vission start */
.mission-vission {
  background-color: rgba(43, 37, 5, 0.8);
  background-image: url("/assets/images/mission-vission.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.mission-vission .vission-card{
  background-color: #c84545;
}
.mission-vission .vission-card:hover{
  background-color: #000000d7;
}
.mission-vission .mission-card{
  background-color: #008686;
}
.mission-vission .mission-card:hover{
  background-color: #000000d7;
}
.mission-vission .objective-card{
  background-color: #0B5050;
}
.mission-vission .objective-card:hover{
  background-color: #000000d7;
}
.mission-vission .title {
  color: #fff;
  text-align: center;
  text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Almendra;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3px;
}
.mission-vission .message {
  color: #fff;
  text-align: justify;
  font-family: "Aref Ruqaa";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1.76px;
}
/* mission-vission end */
/* new-events start */
.new-events {
  background: rgba(219, 217, 217, 0.61);
}
.new-event {
  box-shadow: 3px 4px 4px #097c7c;
}
.new-event-2 {
  box-shadow: 3px 4px 4px #c84545;
}
.new-events .new-event .new-event-cell {
  border: 1px solid #0a9090;
}
.new-events .new-event-2 .new-event-cell {
  border: 1px solid #c84545;
}
.new-events .new-event .new-event-cell .calendar-icon {
  background: url("/assets/icons/calendar.png"), lightgray 50% / cover no-repeat;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.new-events .new-event .new-event-cell .date {
  color: #000;
  text-align: center;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
  font-family: Almarai;
  font-size: 14px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1.4px;
}
.new-events .new-event .new-event-cell .message {
  color: #000;
  text-align: justify;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
  /* font-family: Almarai; */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.4px;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.new-events .title {
  color: #fff;
  text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Almendra;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3px;
}
.new-events .second-title {
  color: #fff;
  text-align: center;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
  font-family: Almarai;
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1.5px;
}
/* new-events end */
/* vc-message start */
.vc-message .vc-message-bg-image {
  background-color: rgba(43, 37, 5, 0.8);
  background-image: url("/assets/images/vc-message-bg-img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.vc-message .vc-message-bg-image .vc-message-text{
  -webkit-line-clamp: 12;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.vc-message .vc-message-bg-image p {
  color: #fff;
  text-align: justify;
  font-style: normal;
  font-family: Calistoga;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.9px;
}
.vc-message .vc-message-bg-image .vc-name p{
  color: #fff;
  text-align: center;
  font-family: Calistoga;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.9px;
}
.vc-message .vc-message-bg-image .title {
  color: #fff;
  text-align: center;
  text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Almendra;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4px;
  border-bottom: 5px solid #fff;
}
/* vc-message end */
/* campus-facilities start */
.campus-facilities .title {
  color: #c84545;
  text-align: center;
  text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Almendra;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4px;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  border-bottom: 5px solid #C84545;
}
.campus-facilities .card p {
  background: rgba(16, 120, 120, 0.9);
  color: #fff;
  text-align: center;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
  font-family: Almarai;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1.4px;
}
/* Circle */
.hover15 figure {
  position: relative;
}

.hover15 figure::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  content: "";
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}

.hover15 figure:hover::before {
  -webkit-animation: circle 0.75s;
  animation: circle 0.75s;
}

.column {
  margin: 0px 0px 0;
  padding: 0;
}

.column:last-child {
  padding-bottom: 60px;
}

.column::after {
  content: "";
  clear: both;
  display: block;
}

.column div {
  position: relative;
  float: left;
  margin: 0 0 0 25px;
  padding: 0;
}

.column div:first-child {
  margin-left: 0;
}

.column div span {
  position: absolute;
  bottom: -20px;
  left: 0;
  z-index: -1;
  display: block;
  width: 300px;
  margin: 0;
  padding: 0;
  color: #444;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  opacity: 0;
}

figure {
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
}

figure:hover + span {
  bottom: -36px;
  opacity: 1;
}

@-webkit-keyframes circle {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

@keyframes circle {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
/* campus-facilities end */
/* butext-prospectus start */
.butex-prospectus-title {
  color: #fff;
  text-align: center;
  text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Almendra;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4px;
  background: #c84545;
  border-bottom: 2px solid white;
}
.butex-prospectus .card-title {
  color: #fff;
  text-align: center;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
  font-family: Almarai;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.6px;
}
.butex-prospectus button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.butex-prospectus .slide-arrow {
  position: absolute;
  top: 50%;
  margin-top: -15px;
}
.butex-prospectus .prev-arrow {
  left: 20px;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 15px solid #0a9090;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.butex-prospectus .next-arrow {
  right: 20px;
  width: 0;
  height: 0;
  border-right: 0 solid transparent;
  border-left: 15px solid #0a9090;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}

/* butext-prospectus end */
/* department-section start */
.department-section {
  background-color: rgba(43, 37, 5, 0.8);
  background-image: url("/assets/images/department-bg-img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.department-section .department-section-card {
  /* border: 0px solid #000; */
  /* box-shadow: 3px 3px 4px 0px #0b9d9d; */
  /* border-right: 3px solid #0b9d9d;
  border-bottom: 3px solid #0b9d9d; */
  border: 0px solid #000;
  background: url("/assets/images/department-bg-img.png"),
    lightgray 50% / cover no-repeat;
  box-shadow: 3px 3px 4px 0px #0b9d9d;
}
.department-section .department-section-card .card-body {
  background-color: #BA3B3B;
}
.department-section .department-section-card .card-body:hover {
 background-color: #078484;
}
.department-section .department-section-card .card-body .card-title {
  color: #fff;
  text-align: center;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
  font-family: Almarai;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.6px;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.department-section .department-section-card .card-body .card-text {
  color: #fff;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
  font-family: Almarai;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.department-section .department-section-card .card-body .btn {
  color: #fff;
  text-align: center;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
  font-family: Almarai;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1.4px;
}
/* department-section end */
/* butext-counter start */
.butex-counter {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100%;
  background: url("/assets/images/Rectangle-93.png") #0000007e;
  background-size: cover;
  background-blend-mode: multiply;
}
.butex-counter .butex-counter-slider .card p{
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.butex-counter .butex-counter-slider .card .counter-card1{
  background-color: #0b5050ec; padding-top: 5rem; padding-bottom: 5rem;
}
.butex-counter .butex-counter-slider .card .counter-card1:hover{
  background-color: #000000cc;
}
.butex-counter .butex-counter-slider .card .counter-card2{
  background-color: #0A9090ec; padding-top: 5rem; padding-bottom: 5rem;
}
.butex-counter .butex-counter-slider .card .counter-card2:hover{
  background-color: #000000cc;
}
.butex-counter button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.butex-counter .slide-arrow {
  position: absolute;
  top: 45%;
  margin-top: -15px;
}
.butex-counter .prev-arrow {
  left: -30px;
  width: 50px;
  height: 80px;
  background-image: url('/assets/images/Rectangle-95-1.png');
  background-repeat: no-repeat;
}
.butex-counter .next-arrow {
  right: -30px;
  width: 50px;
  height: 80px;
  background-image: url('/assets/images/Rectangle-96-1.png');
  background-repeat: no-repeat;
}


/* .butex-counter button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.butex-counter .slide-arrow {
  position: absolute;
  top: 50%;
  margin-top: -15px;
}
.butex-counter .prev-arrow {
  left: 20px;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 15px solid #0a9090;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.butex-counter .next-arrow {
  right: 20px;
  width: 0;
  height: 0;
  border-right: 0 solid transparent;
  border-left: 15px solid #0a9090;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
} */
/* butext-counter end */
/* academic calender start */
.calendar-location .calendar .title {
  color: #fff;
  text-align: start;
  text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Almendra;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4px;
  background-color: #C84545;
}
.calendar-location .calendar .calendar-item {
  background: #fff;
  background: linear-gradient(65deg, #fff 80%, #097c7c 80%);
  box-shadow: 4px 4px rgba(0, 0, 0, 0.699);
}
.calendar-location .calendar .calendar-item p{
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.calendar-location .calendar .calendar-item img{
  height: 50px; width: 50px;
}
.calendar-location .calendar .calendar-bg-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  background: url("/assets/images/Rectangle\ 97.png") rgb(0, 0, 0, 0.25);
  background-size: cover;
  background-blend-mode: multiply;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.699);
}
.calendar-location .location .title{
  color: #0B5050;
  text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Almendra;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 4px;
}
.calendar-location .location .location-bg-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  background: url("/assets/images/Rectangle\ 98.png") rgb(0, 0, 0, 0.25);
  background-size: cover;
  background-blend-mode: multiply;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.699);
}

/* ------------------------ */
.calendar-location .calendar .calendar-bg-image .date-container {
  height: 105px;
  background-color: #fff9f9;
  box-shadow: 5px 5px 4px 0px #000000;
  margin: 0 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.calendar-location .calendar .calendar-bg-image .date-container .date {
  font-family: Almarai;
  font-size: 14px;
  font-weight: 800;
  line-height: 16px;
  letter-spacing: 0.1em;
}
.calendar-location .calendar .calendar-bg-image .date-container .date p {
  font-family: Almarai;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.1em;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.calendar-location .calendar .calendar-bg-image .date-container .view {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 31% 100%);
  background-color: #097c7c;
  width: 95px;
  height: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar-location .calendar .calendar-bg-image .date-container .view p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
/* ------------------------ */



.calender-container .title {
  background-color: #c84545;
  color: #fff;
  padding: 15px 0;
  font-family: Almendra;
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0.1em;
  padding-left: 10px;
}
.calender-container .calender {
  background-image: url("/assets/images/Rectangle\ 97.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 546px;
  background-size: 100%;
  padding: 15px 0;
}
.calender-container .calender .date-container {
  height: 105px;
  background-color: #fff9f9;
  box-shadow: 5px 5px 4px 0px #000000;
  margin: 0 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.calender-container .calender .date-container .date {
  padding: 15px;
}
.calender-container .calender .date-container .date p {
  font-family: Almarai;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.1em;
}
.calender-container .calender .date-container .view {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 31% 100%);
  background-color: #097c7c;
  width: 95px;
  height: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calender-container .calender .date-container .view p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}


.map-container .title h2 {
  font-family: Almendra;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.1em;
  color: #0b5050;
  border-bottom: 5px solid #0b5050;
  display: inline-block;
  padding-bottom: 2px;
}
.map-container .title {
  text-align: center;
  margin-bottom: 3px;
}
.map-container .map {
  background-image: url("/assets/images/Rectangle\ 98.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 546px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.map-container .map img {
  width: 80%;
}
/* academic calender end */
/* affiliated start */
.affiliated-container {
  background: rgba(197, 225, 225, 0.92);
  padding: 27px 0 16px 0;
}
.affiliated-container .title {
  color: #097c7c;
  text-align: center;
  text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Almendra;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4px;
  border-bottom: 5px solid #078484;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.affiliated-card .card {
  padding: 12px 0 16px 0;
  flex-shrink: 0;
  background: rgba(255, 255, 255, 0.68);
  box-shadow: 4px 4px 4px 0px #097c7c;
  border: 0;
  border-radius: 0;
  margin: 10px 10px;
}
.affiliated-card .card img {
  width: 50%;
}
.affiliated-card .card p {
  color: #000;
  text-align: center;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
  font-family: Almarai;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
  padding: 0 14px;
}
.affiliated-card .card-btn {
  display: flex;
  justify-content: center;
}
.affiliated-card .card-btn a {
  width: 120px;
  height: 42px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #0b5050;
  color: #fff;
  font-family: Almarai;
  font-size: 15px;
  font-weight: 800;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-align: center;
  cursor: pointer;
  margin-top: 25px;
}
.affiliated-card .card-btn a:hover {
  color: #fff;
}
/* affiliated end */
/* footer start */
.footer-container {
  border-top: 11px solid #c84545;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100%;
  background: url("/assets/images/Footer.png") rgba(3, 81, 81, 0.075);
}
.footer-top {
  padding: 58px 0;
}
.footer-container .footer-logo {
  width: 281px;
  height: 87px;
  background-color: #fff;
  top: 6054px;
  align-self: center;
  align-content: center;
}
.footer-logo img {
  padding-left: 5px;
}
.footer-logo,
.link-title {
  height: 87px;
  display: flex;
  align-items: center;
}
.footer-link h3 {
  font-family: Almarai;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #fefefe;
  padding-left: 10px;
}
.footer-link .link {
  border-left: 3px solid #ffffff;
}
.footer-link .link li {
  padding-bottom: 9px;
}
.footer-link .link li a {
  font-family: Almarai;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.1em;

  color: #fefefe;
  padding-left: 10px;
}
.footer-bottom {
  background-color: #12a7a7;
  display: flex;
  align-items: center;
}
.copy-right{
font-size: 14px;
font-weight: bold;
font-family: Almarai;
}
.deveoped-by{
  font-size: 14px;
  font-weight: bold;
  font-family: Almarai;
}
/* footer end */
/* faculty start */
/* header start */
.faculty .faculty-header-top{
  background-color: #C84545;
  color: #fff;
  
}
.faculty .faculty-header-top .contact-info{
  font-size: 15px; font-family: Inter; margin-left: -2rem;
}
.faculty .faculty-header-main{
  background-color: #0b9d9d;
  color: #fff;
}
.faculty .faculty-header-main{
  background-color: #0b9d9d;
  color: #fff;
}
.faculty .faculty-header-main .title{
  font-family: Oxanium; 
  font-size: 25px;
  font-weight: bolder;
}
.faculty .faculty-header-main .navbar-nav .nav-link{
  font-family: Inter; 
  font-size: 12px; 
  font-weight: bold;
  color: #fff;
}
.faculty .faculty-header-main .nav-item-large{
  font-family: Inter; 
  font-size: 14px; 
  font-weight: bold;
  color: #fff;
}
/* ---------------------------- */

.dropdown-toggle::after {
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  vertical-align: middle;
  content: "";
  border: 0.3em solid;
  border-width: 0 0.15em 0.15em 0;
  transform: rotateZ(45deg);
  margin-top: -0.3rem;
}

.nav-bar-lang ul li {
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

/* ---------------------------- */
/* flash-news start */
.flash-news .title{
  font-size: 24px;
  font-weight: bold;
  color: #000;
}
/* flash-news end */
/* faculty-about-section start */
.faculty-about-section{
  background-color: rgba(255, 255, 255, 0.3);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100%;
  background: url("/assets/images/Rectangle-119.png") rgba(255, 255, 255, 0.3);
  background-size: cover;
  background-blend-mode: multiply;
}
.faculty-about-section .title{
  font-family: almendra;
  font-size: 35px;
  font-weight: bold;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.faculty-about-section  p{
  font-family: Inter; 
  text-align: justify; 
  text-justify: inter-word;
  -webkit-line-clamp: 7;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 16px;
  font-weight: 500;
}
.faculty-about-section .head-of-faculty .head-of-faculty-info{
  margin-top: 7.5rem; padding-top: 4rem; padding-bottom: 1rem; background-color: #0B9D9D;
}
.faculty-about-section .head-of-faculty .head-of-faculty-info h2{
  color: #F0E70A;
  font-size: 20px;
}
.faculty-about-section .head-of-faculty .head-of-faculty-info p{
  font-size: 14px;
}
.faculty-about-section .person{
  margin-top: -7rem;
}
.faculty-about-section .person h2{
  color: #F0E70A;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.faculty-about-section .person p{
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* faculty-about-section end */
/* list-of-departments start */
.list-of-departments{  
  background-color: rgba(255, 255, 255, 0.3);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100%;
  background: url("/assets/images/Rectangle-120.png") rgba(255, 255, 255, 0.3);
  background-size: cover;
  background-blend-mode: multiply;
}
.list-of-departments .title {
  font-family: Almendra;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4px;
  color: #078484;
  border-bottom: 5px solid #078484;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.list-of-departments .card-img-top {
  min-height: 400px;
 }
.list-of-departments .card-bottom{
  background-color: #BA3B3B;
  color: #fff;
}
.list-of-departments .card-bottom .btn{
  color: #fff;
  background-color: #BA3B3B;
}
.list-of-departments .card-bottom:hover{
  background-color: #fff;
  color: #BA3B3B;
}
/* list-of-departments end */
/* recent-news-notice-events start */

/* ------------------------------------ */
.recent-news{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100%;
  /* background: url("/assets/images/Rectangle-139.png"); */
}
.recent-news .title{
  font-family: Almendra;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4px;
  color: #c84545;
  border-bottom: 5px solid #c84545; 
}
.recent-news .recent-news-slider .date{
  background-color: #0A9090; 
  width: 20%;
}
.recent-news .card{
  border-bottom: 3px solid #0A9090; border-right: 3px solid #0A9090;
}
.recent-news .card .card-body:hover{
  background-color: #0000001e;
}
.recent-news .card img{
  max-width: 871px;
  max-height: 337px;
}
.recent-news .date{
  background-color: #0A9090; 
  width: 20%;
}
/* ******************************************************************************************************** */
.recent-notice-and-events{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100%;
  /* background: url("/assets/images/Rectangle-140.png"); */
}
.recent-notice-and-events .notice-board .title{
  font-family: Almendra;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4px;
  color: #fff;
  border-bottom: 5px solid #fff; 
}
.recent-notice-and-events .notice-board .nav-link {
  color: #fff;
}
.recent-notice-and-events .notice-board .nav-link.active {
  background-color: #F0E70A;
  color: #c84545;
}
.recent-notice-and-events .recent-events .title{
  font-family: Almendra;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4px;
  color: #fff;
  border-bottom: 5px solid #fff; 
  max-width: 400px;
}
/* ------------------------------------ */

.recent-news-notice-events{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100%;
  background: url("/assets/images/Rectangle-141.png");
}
.recent-news-notice-events .recent-news .title{
  font-family: Almendra;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4px;
  color: #c84545;
  border-bottom: 5px solid #c84545; 
}
.recent-news-notice-events .recent-news .recent-news-slider .date{
  background-color: #0A9090; 
  width: 20%;
}
.recent-news-notice-events .recent-news .card{
  border-bottom: 3px solid #0A9090; border-right: 3px solid #0A9090;
}
.recent-news-notice-events .recent-news .card .card-body:hover{
  background-color: #0000001e;
}
.recent-news-notice-events .recent-news .card img{
  max-width: 871px;
  max-height: 337px;
}
.recent-news-notice-events .recent-news .date{
  background-color: #0A9090; 
  width: 20%;
}
.recent-news-notice-events .recent-notice-and-events .notice-board .title{
  font-family: Almendra;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4px;
  color: #fff;
  border-bottom: 5px solid #fff; 
}
.recent-news-notice-events .recent-notice-and-events .notice-board .nav-link {
  color: #fff;
}
.recent-news-notice-events .recent-notice-and-events .notice-board .nav-link.active {
  background-color: #F0E70A;
  color: #c84545;
}
.recent-news-notice-events .recent-notice-and-events .recent-events .title{
  font-family: Almendra;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4px;
  color: #fff;
  border-bottom: 5px solid #fff; 
  max-width: 400px;
}
.recent-news-notice-events .recent-notice-and-events .recent-events .title{
  font-family: Almendra;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4px;
  color: #fff;
  border-bottom: 5px solid #fff; 
  max-width: 400px;
}
.recent-news-notice-events .recent-notice-and-events .recent-events .recent-events-left{
width: 90%;
}
.recent-news-notice-events .recent-notice-and-events .recent-events .recent-events-left .title{
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.recent-news-notice-events .recent-notice-and-events .recent-events .recent-events-right{
width: 10%;
}
/* recent-news-notice-events end */
/* ------------------ */
.faculty-members {
  background-color: #d9d9d9;
}
.faculty-members .title {
  font-family: Almendra;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4px;
  color: #0a9090;
  border-bottom: 5px solid #0A9090; max-width: 400px;
}
.faculty-members .title:hover {
  color: #0a9090a8;
}
.faculty-members h3 {
  color: #f0e70a;
  text-align: center;
  font-family: Calistoga;
  font-sirgba(10, 144, 144, 0.568)x;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.9px;
}
.faculty-members h3:hover {
  color: #f0e70aa8;
}
.faculty-members h4 {
  color: #ffffff;
  text-align: center;
  font-family: Calistoga;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.2px;
}
.faculty-members h4:hover {
  color: #ffffffa9;
}
.faculty-members .faculty-members-image{
  width: 200px; 
  height: 200px; 
  border: 5px solid #0A9090;
}
/* faculty end */
/* faculty-gallery start */
.faculty-gallery .title {
  font-family: Almendra;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4px;
  color: #c84545;
  border-bottom: 5px solid #c84545; max-width: 400px;
}
.faculty-gallery .title:hover {
  color: #c84545a9;
}
.faculty-gallery .nav-link {
  color: #c84545;
}
.faculty-gallery .nav-link.active {
  background-color: #c84545;
color: #fff;
}
.faculty-gallery .faculty-gallery-image{

}
button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.slide-arrow {
  position: absolute;
  top: 50%;
  margin-top: -15px;
}
.prev-arrow {
  left: -30px;
  width: 50px;
  height: 50px;
  background-image: url('/assets/images/Rectangle-159.png');
  background-repeat: no-repeat;
}
.next-arrow {
  right: -30px;
  width: 50px;
  height: 50px;
  background-image: url('/assets/images/Rectangle-96.png');
  background-repeat: no-repeat;
}
.image-overlay {
  background-color: #c2ddb465;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
}
.image:hover .image-overlay {
  display: block;
  border-radius: 20px;
}
/* faculty-gallery end */
/* faculty-footer start */
.faculty-footer .faculty-footer-top{
  background-color: #0CA3A3;
  height: 30px;
}
.faculty-footer .faculty-footer-main{
  background-color: #C84545;
}
.faculty-footer .faculty-footer-main ul li:first-child{
font-size: 29px;
}
.faculty-footer .faculty-footer-bottom{
  background-color: #A33C3C;
}
/* faculty-footer end */
/* media query start */
@media screen and (min-width: 1500px) and (max-width: 1920px) {
  .vc-message .vc-message-bg-image .vc-photo-and-name {
    margin-left: -4rem !important;
  }
  .vc-message .vc-message-bg-image .vc-name p{
    margin-left: -4rem;
  }
  
}
@media screen and (min-width: 1200px) and (max-width: 1499.98px) {
  .vc-message .vc-message-bg-image .vc-photo-and-name {
    margin-left: -4rem !important;
  }
  .vc-message .vc-message-bg-image .vc-name p{
    margin-left: -4rem;
  }
  .butext-notice .butext-notice-bg-img .notice-board-tab-width{
    width: 18.8%; background-color: #D9D9D9;
  }
   /* faculty start */
   .faculty-members .title {
    font-size: 30px;
  }
  .faculty-gallery .title {
    font-size: 30px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  .welcome-butex .butex-content .butex-circle-img {
    width: 90%;
  }
  .welcome-butex .butex-content .right p{
    -webkit-line-clamp: 20;
  }
  .vc-message .vc-message-bg-image .vc-photo-and-name {
    margin-left: -4rem !important;
  }
  .calendar-location .location .title{
    font-size: 30px;
  }
  .footer-container .footer-logo {
    width: 240px;
    height: 87px;
    background-color: #fff;
    top: 6054px;
    align-self: center;
    align-content: center;
  }
  .butext-notice .butext-notice-bg-img .notice-board-doc-icon{
    width: 14%;
  }
  .butext-notice .butext-notice-bg-img .notice-board-tab-width{
    width: 18.7%; background-color: #D9D9D9;
  }
  /* faculty start */
  .faculty-members .title {
    font-size: 30px;
  }
  .faculty-gallery .title {
    font-size: 30px;
  }
  .faculty .faculty-header-top .contact-info{
    font-size: 15px; font-family: Inter; margin-left: -0rem;
  }
  .faculty .faculty-header-main .title{
    font-family: Oxanium; 
    font-size: 20px;
    font-weight: bolder;
    margin-left: -3rem !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .welcome-butex .butex-content .butex-circle-img {
    width: 90%;
  }
  .welcome-butex .butex-content .right p{
    -webkit-line-clamp: 20;
  }
  .navbar-toggler-btn {
    margin-left: 16rem;
  }
  .vc-message .vc-message-bg-image .vc-photo-and-name {
    margin-left: -0rem !important;
  }
  .butext-notice .butext-notice-first-last-li-width {
    width: 45%;
    margin: 10px;
  }
  .butext-notice .butext-notice-middle-li-width {
    margin: 10px;
    width: 45%;
  }
  .calendar-location .location .location-bg-image {
    min-height: 400px;
  }
  .vc-message .vc-message-bg-image .vc-message-text{
    -webkit-line-clamp: 8;
  }
  .butext-notice .butext-notice-bg-img .notice-board-doc-icon{
    width: 18%;
  }
  .butext-notice .butext-notice-bg-img .notice-board-tab-width{
    width: 18.2%; background-color: #D9D9D9;
  }
   /* faculty start */
   .faculty .faculty-header-main .main-logo{
    width: 60px;
    height: 60px;
  }
  .faculty .faculty-header-main .title{
    font-size: 20px;
  } 
   .faculty-members .title {
    font-size: 30px;
  }
  .faculty-gallery .title {
    font-size: 30px;
  }
  .list-of-departments .title {
    font-size: 30px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767.98px) {
  .welcome-butex .butex-content .butex-circle-img {
    width: 90%;
  }
  .welcome-butex .butex-content .right p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 20;
    -webkit-box-orient: vertical;
  }
  .vc-message .vc-message-bg-image p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 15;
    -webkit-box-orient: vertical;
  }
  .navbar-toggler-btn {
    margin-left: 6rem;
  }
  .vc-message .vc-message-bg-image .vc-photo-and-name {
    margin-left: -0rem !important;
  }
  .vc-message .vc-message-bg-image .vc-photo-and-name .vc-photo {
    display: flex;
    justify-content: center;
  }
  .butext-notice .butext-notice-first-last-li-width {
    width: 45%;
    margin: 10px;
  }
  .butext-notice .butext-notice-middle-li-width {
    margin: 10px;
    width: 45%;
  }
  .faculty-members .faculty-members-image{
    width: 180px; 
    height: 180px; 
  }
  .campus-facilities .title {
    font-size: 25px;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .calendar-location .location .location-bg-image {
    min-height: 400px;
  }
  .affiliated-container .title {
    font-size: 28px;
  }
  .butex-counter .prev-arrow {
    display: none !important;
   }
   .butex-counter .next-arrow {
     display: none !important;
   }
   .butext-notice .butext-notice-bg-img .notice-board-doc-icon{
    width: 25%;
  }
  .butext-notice .butext-notice-bg-img .notice-board-tab-width-first{
    width: 45%; 
    background-color: #0B9D9D;
    margin-top: 5px;
    margin-left: 5px;
  }
  .butext-notice .butext-notice-bg-img .notice-board-tab-width{
    width: 45%; 
    background-color: #D9D9D9;
    margin-top: 5px;
  }
  .butext-notice .butext-notice-bg-img .notice-board-tab-width-last{
    width: 45%; 
    background-color: #D9D9D9;
    margin-top: 5px;
  }
   /* faculty start */
   .faculty .faculty-header-main .main-logo{
    width: 60px;
    height: 60px;
  }
  .faculty .faculty-header-main .title{
    font-size: 20px;
  } 
   .faculty-members .title {
    font-size: 30px;
  }
  .faculty-gallery .title {
    font-size: 30px;
  }
}
@media screen and (min-width: 376px) and (max-width: 575.98px) {
  .welcome-butex .butex-content .butex-title {
    font-size: 30px;
  }
  .welcome-butex .butex-content .butex-circle-img {
    left: 10%;
    width: 70%;
  }
  .welcome-butex .butex-content .right p{
    -webkit-line-clamp: 10;
  }
  .navbar-toggler-btn {
    margin-left: 8rem;
  }
  .vc-message .vc-message-bg-image .title {
    font-size: 35px;
  }
  .vc-message .vc-message-bg-image .vc-photo-and-name {
    margin-left: -0rem !important;
  }
  .vc-message .vc-message-bg-image .vc-photo-and-name .vc-photo {
    display: flex;
    justify-content: center;
  }
  .butext-notice .butext-notice-first-last-li-width {
    width: 100%;
  }
  .butext-notice .butext-notice-middle-li-width {
    width: 100%;
  }
  .campus-facilities .title {
    font-size: 20px;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .affiliated-container .title {
    font-size: 20px;
  }
  .calendar-location .location .title{
    font-size: 30px;
  }
   .calendar-location .calendar .title {
    font-size: 25px;
  }
  .calendar-location .location .location-bg-image {
    min-height: 350px;
  }
  .butex-counter .prev-arrow {
    display: none !important;
   }
   .butex-counter .next-arrow {
     display: none !important;
   }
   .butext-notice .butext-notice-bg-img .notice-board-doc-icon{
    width: 18%;
  }
  .butext-notice .butext-notice-bg-img .notice-board-date{
    background-color: #0B9D9D;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .butext-notice .butext-notice-bg-img .notice-board-tab-width-first{
    width: 45%; 
    background-color: #0B9D9D;
    margin-top: 5px;
    margin-left: 5px;
  }
  .butext-notice .butext-notice-bg-img .notice-board-tab-width{
    width: 45%; 
    background-color: #D9D9D9;
    margin-top: 5px;
  }
  .butext-notice .butext-notice-bg-img .notice-board-tab-width-last{
    width: 45%; 
    background-color: #D9D9D9;
    margin-top: 5px;
  }
    /* faculty start */
    .faculty .faculty-header-main .main-logo{
      width: 50px;
      height: 50px;
    }
    .faculty .faculty-header-main .title{
      font-size: 16px;
    } 
    .faculty-members .title {
      font-size: 30px;
    }
    .faculty-gallery .title {
      font-size: 30px;
    }
    .faculty-about-section .title{
      font-size: 25px;
    }
    .list-of-departments .title {
      font-size: 25px;
    }
  }
@media screen and (min-width: 320px) and (max-width: 375.98px) {
  .welcome-butex .butex-content .butex-title {
    font-size: 30px;
  }
  .welcome-butex .butex-content .butex-circle-img {
    left: 1%;
    width: 90%;
  }
  .welcome-butex .butex-content .right p{
    -webkit-line-clamp: 10;
  }
  .vc-message .vc-message-bg-image .title {
    font-size: 35px;
  }
  .vc-message .vc-message-bg-image .vc-photo-and-name {
    margin-left: -0rem !important;
  }
  .vc-message .vc-message-bg-image .vc-photo-and-name .vc-photo {
    display: flex;
    justify-content: center;
  }
  .butext-notice .butext-notice-first-last-li-width {
    width: 100%;
  }
  .butext-notice .butext-notice-middle-li-width {
    width: 100%;
  }
  .affiliated-container .title {
    font-size: 16px;
  }
  .campus-facilities .title {
    font-size: 20px;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .calendar-location .calendar .title {
    font-size: 25px;
  }
  .calendar-location .location .title{
    font-size: 30px;
  }
  .calendar-location .location .location-bg-image {
    min-height: 350px;
  }
  .calendar-location .calendar .calendar-item img{
    height: 35px; width: 35px;
  }
  .butex-counter .prev-arrow {
   display: none !important;
  }
  .butex-counter .next-arrow {
    display: none !important;
  }

  .butext-notice .butext-notice-bg-img .notice-board-tab-width-first{
    width: 45%; 
    background-color: #0B9D9D;
    margin-top: 5px;
    margin-left: 5px;
  }
  .butext-notice .butext-notice-bg-img .notice-board-tab-width{
    width: 45%; 
    background-color: #D9D9D9;
    margin-top: 5px;
  }
  .butext-notice .butext-notice-bg-img .notice-board-tab-width-last{
    width: 45%; 
    background-color: #D9D9D9;
    margin-top: 5px;
  }
  /* faculty start */
  .faculty-members .title {
    font-size: 30px;
  }
  .faculty-gallery .title {
    font-size: 30px;
  }
  .faculty-about-section .about h2{
    font-size: 20px;
  }
  .faculty-about-section .person{
    margin-top: -0rem;
    margin-bottom: 24rem;
  }
  .recent-news-notice-events .recent-news .date{
    background-color: #0A9090; 
    width: 20%;
  }
  .faculty .faculty-header-main .main-logo{
    width: 50px;
    height: 50px;
  }
  .faculty .faculty-header-main .title{
    font-size: 12px;
    width: 180px;
  }
  .flash-news .title{
    font-size: 16px;
    font-weight: bold;
  }
  .faculty-about-section .title{
    font-size: 25px;
  }
  .list-of-departments .title {
    font-size: 25px;
  }
  /* faculty end */
}
