* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  box-sizing: border-box;
  background-color: var(--bg_white);
}

:root {
  /* text color */
  --text_white: #ffffff;
  --text_mute-primary: #424242;
  --text_mute-secondary: #999999;
  --text_mute-third: #464646;
  --text_green-primary: #0b9d9d;
  --text_blue-primary: #003087;
  --text_dark-secondary: #40474f;

  /* bg-color */
  --bg_white: #ffffff;
  --bg_white-secondary: #f1f1f1;
  --bg_white-third: #f7f7f7;
  --bg_green-primary: #0b9d9d;
  --bg_green-third: #69b342;
  --bg_green-forth: #f4faf6;
  --bg_orange-secondary: #c84545;
  --bg_blue-secondary: #15bef0;
  --bg_blue-forth: #d9e6e6;
  --bg_mute-third: #464646;
}
/* header start */
.topnav {
}
/* .topnav {
  height: 50px;
  margin: 0;
  left: 0;
  background: rgba(39, 39, 36, 0.459);
}

.topnav:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 300px;
  background: #000;
  transform: skew(50deg);
  transform-origin: top;
} */
.topnav {
  background-color: var(--bg_green-primary);
}
.topnav .topnav-bg-color {
  background-color: var(--bg_green-primary);
}
.topnav .topnav-left {
  clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
  background-color: var(--bg_orange-secondary);
}
.topnav .topnav-left h5 {
  color: #fff;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.topnav .topnav-left h6 {
  color: #fff;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.topnav .topnav-right {
}
.flash-news .flash-news-left {
  background-color: var(--bg_green-primary);
  color: #fff;
  font-family: "Inria Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 2px;
}
.flash-news .flash-news-right {
  background-color: var(--bg_orange-secondary);
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
/* header end */
/* hero-section start */
.hero-section .carousel-inner .carousel-item .carousel-caption h5 {
  color: #c84545;
  text-align: center;
  font-family: "Inria Sans";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.8px;
  background: rgba(250, 245, 245, 0.73);
}
/* hero-section end */
/* welcome-butex start */
.welcome-butex {
  background-color: #fbfbfb;
}
.welcome-butex .butex-content {
  background-image: url("/assets/images/welcome-butex.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.welcome-butex .butex-content .butex-title {
  color: #0a9090;
  text-align: center;
  text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Almendra;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4px;
}
.welcome-butex .butex-content .left img {
  /* background: #0b9d9d; */
  /* box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25); */
}
.welcome-butex .butex-content .right {
  background: #d9e6e6;
  box-shadow: 5px 5px 7px 2px rgba(0, 0, 0, 0.25);
  color: #000;
  text-align: justify;
  font-family: "Aref Ruqaa";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
  letter-spacing: 1.12px;
}
/* welcome-butex end */
.butext-notice {
}
.butext-notice .butext-notice-bg-img {
  background-color: rgba(43, 37, 5, 0.8);
  background-image: url("/assets/images/butex-nitice-bg-img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.butext-notice .butext-notice-bg-img .title {
  color: #f6f6f6;
  text-align: center;
  text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Almendra;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4px;
}
/* affiliated start */
.affiliated-container {
  background: rgba(197, 225, 225, 0.92);
  padding: 27px 0 16px 0;
}
.affiliated-container .title {
  color: #097c7c;
  text-align: center;
  text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Almendra;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4px;
  padding-bottom: 26px;
}
.affiliated-card .card {
  padding: 12px 0 16px 0;
  flex-shrink: 0;
  background: rgba(255, 255, 255, 0.68);
  box-shadow: 4px 4px 4px 0px #097c7c;
  border: 0;
  border-radius: 0;
  margin: 10px 10px;
}
.affiliated-card .card img {
  width: 50%;
}
.affiliated-card .card p {
  color: #000;
  text-align: center;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
  font-family: Almarai;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
  padding: 0 14px;
}

/* affiliated end */

/* footer start */
.footer-container {
  background-image: url("/assets/images/footer-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top: 11px solid #c84545;
}
.footer-top {
  padding: 58px 0;
}
.footer-logo {
  width: 281px;
  height: 87px;
  background-color: #fff;
  top: 6054px;
  align-self: center;
  align-content: center;
}
.footer-logo img {
  padding-left: 5px;
}
.footer-logo,
.link-title {
  height: 87px;
  display: flex;
  align-items: center;
}
.footer-link h3 {
  font-family: Almarai;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #fefefe;
  padding-left: 10px;
}
.footer-link .link {
  border-left: 3px solid #ffffff;
}
.footer-link .link li {
  padding-bottom: 9px;
}
.footer-link .link li a {
  font-family: Almarai;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.1em;

  color: #fefefe;
  padding-left: 10px;
}
.footer-bottom {
  height: 33px;
  background-color: #12a7a7;
  display: flex;
  align-items: center;
}
/* footer end */
/* media query start */
@media screen and (min-width: 768px) and (max-width: 1920px) {
}
@media screen and (min-width: 1200px) and (max-width: 1499.98px) {
}
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
}
@media screen and (min-width: 576px) and (max-width: 767.98px) {
}
@media screen and (min-width: 376px) and (max-width: 575.98px) {
}
@media screen and (min-width: 320px) and (max-width: 375.98px) {
}
